<app-spinner [isLoading]="isShowLoading"></app-spinner>
<!-- Content Header (Page header) -->
<ng-container class="container-header">
  <div class="container-title" style="margin-left: 0.5vw">
    <h1 i18n="@@employees-title">Danh sách phiếu nhập hàng</h1>
  </div>
</ng-container>

<ng-container class="container-header">
  <div class="row" style="margin-left: 68vw">
    <div class="col-auto">
      <c-breadcrumb>
        <c-breadcrumb-item url="#">Trang chủ</c-breadcrumb-item>
        <c-breadcrumb-item [active]="true">Phiếu Nhập hàng</c-breadcrumb-item>
      </c-breadcrumb>
    </div>
  </div>
</ng-container>

<ng-container class="container-header">
  <div class="row" style="margin-left: 69.5vw">
    <div class="col-auto d-flex justify-content-between">
      <div class="col-auto">
        <button type="button" class="btn btn-primary" style="height: 4vh; width: 2.5vw"
                (click)="showSeachForm()">
          <img src="assets/images/seach.png" class="icon-search" style="width: 1vw; height: 2vh">
        </button>
        <button class="btn bg-warning" (click)="showInsertForm()" style="margin-left: 0.4vw">
          Tạo phiếu nhập
        </button>
      </div>
    </div>
  </div>
</ng-container>
<br>
<ng-container *ngIf="importings.length !== 0">
  <app-data-table [columnNumber]="7" [tableFormatClass]="tableFormat" [search]="importingSeach"
                  [data2Show]="importings">
    <table class="{{tableFormat}}">
      <thead>
      <tr>
        <th></th>
        <th>Ngày đặt hàng</th>
        <th>Code</th>
        <th>Tên nhà cung cấp</th>
        <th>Tình trạng</th>
        <th>Ngày cập nhật</th>
        <th>Tiền hàng</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of importings;">
        <td style="width: 4vw">
          <mat-checkbox></mat-checkbox>
        </td>
        <td>{{ i.importing!.dateCreated }}</td>
        <td>{{ i.importing!.code }}</td>
        <td>{{ i.importing!.supplier?.name }}</td>
        <td>{{ getStatusOfImporting(i.importing!.status!) }}</td>
        <td>{{ i.importing!.dateUpdated }}</td>
        <td>{{ i.importing!.total | currency: 'VND' | slice:1 }}
          <span class="symbol"
                style="font-size: 1rem; line-height: 1rem; letter-spacing: 0.1rem; text-decoration: underline">đ</span>
        </td>
        <td style="width: 4.5vw">
          <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-dropdown"
                  (click)="getImportingData(i.importing?.id!, i)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="updateImporting()">
        <mat-icon>edit</mat-icon>
        <span>Sửa</span>
      </button>

      <button mat-menu-item (click)="deleteImporting()">
        <mat-icon>delete</mat-icon>
        <span>Xóa</span>
      </button>

      <button mat-menu-item>
        <mat-icon>list</mat-icon>
        <span>D.Sách HH - VT</span>
      </button>

      <button mat-menu-item>
        <mat-icon>print</mat-icon>
        <span>In</span>
      </button>

      <button mat-menu-item>
        <mat-icon>Excel</mat-icon>
        <span>Xuất File Excel</span>
      </button>

      <button mat-menu-item>
        <mat-icon>money</mat-icon>
        <span>Lập P.Chi</span>
      </button>

      <button mat-menu-item>
        <mat-icon>money</mat-icon>
        <span>Tạo Từ Phiếu Này</span>
      </button>

    </mat-menu>
  </app-data-table>
</ng-container>

<app-add-importing #AddWrapper
                   [suppliers]="supplierName"
                   [btnName]="isBtnName"
                   [importing]="importingInformation"
                   [importingTransactions]="importingTransactionInformation"
                   [importingStatus]="statusValue"
                   [showTableSize]="importingTransactionInformation.length != 0"
                   [supplierNameDisplay]="importingInformation.supplier?.name!"
                   [products]="productsName"
                   [productFill]="products"></app-add-importing>

<app-search-importing #searchWrapper></app-search-importing>
