<div style=" margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;">
  <div id="row1">
    <div style="border: 2px solid darkgray; padding: 10px; display: inline-block; width: 20vw; text-align: center">Đơn đặt
      hàng mới
    </div>
    <br>
    <br>
    <button style="width: 20vw;">{{'Đơn hàng mã số:xyxqweqwa'}} <br> {{'ngày giao:30/01/2024'}}</button>
    <br>
    <br>
    <button style="width: 20vw;">{{'Đơn hàng mã số:xyxqweqwa'}} <br> {{'ngày giao:30/01/2024'}}</button>
  </div>

  <div id="row2">
    <div style="border: 2px solid darkgray; padding: 10px; display: inline-block; width: 20vw; text-align: center">Đơn đã
      nhận
    </div>
    <br>
    <br>
    <button style="width: 20vw;">{{'Đơn hàng mã số:xyxqweqwa'}} <br> {{'ngày giao:30/01/2024'}}</button>
    <br>
    <br>
    <button style="width: 20vw;">{{'Đơn hàng mã số:xyxqweqwa'}} <br> {{'ngày giao:30/01/2024'}}</button>
  </div>

  <div id="row3">
    <div style="border: 2px solid darkgray; padding: 10px; display: inline-block; width: 20vw; text-align: center">Đơn đã
      hoàn thành
    </div>
    <br>
    <br>
    <button style="width: 20vw;">{{'Đơn hàng mã số:xyxqweqwa'}} <br> {{'ngày giao:30/01/2024'}}</button>
    <br>
    <br>
    <button style="width: 20vw;">{{'Đơn hàng mã số:xyxqweqwa'}} <br> {{'ngày giao:30/01/2024'}}</button>
  </div>

</div>
