<app-spinner [isLoading]="isShowLoading"></app-spinner>

<ng-container *ngIf="productList.length !== 0">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-title">
      <h1 i18n="@@employees-title">Sản Phẩm</h1>
    </div>
  </section>


  <div class="container-header" style="margin-left: 70vw">
    <div class="row">
      <div class="col-auto">
        <c-breadcrumb>
          <c-breadcrumb-item url="#">Trang chủ</c-breadcrumb-item>
          <c-breadcrumb-item [active]="true">Sản phẩm</c-breadcrumb-item>
        </c-breadcrumb>
      </div>
    </div>
  </div>

  <div class="container-header mb-2" style="margin-right: 0.6vw">
    <div class="row justify-content-end">
      <div class="col-auto">
        <button type="button" class="btn btn-info" style="margin-right: 0.5vw"
                (click)="showSeachForm()">
          <img src="assets/images/seach.png" class="icon-search" style="width: 1vw; height: auto;">
        </button>
        <button class="btn bg-warning" (click)="showInsertForm()">
          Thêm Sản phẩm
        </button>
      </div>
    </div>
  </div>
</ng-container>
<br>
<ng-container *ngIf="productList.length !== 0">
  <app-data-table [columnNumber]="7" [tableFormatClass]="tableFormat" [search]="search"
                  [data2Show]="productList">
    <table class="{{tableFormat}}">
      <thead>
      <tr>
        <th>Hình ảnh</th>
        <th>Code</th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Tình trạng</th>
        <th>Mô tả</th>
        <th>Mặt hàng</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of productList;">
        <ng-container *ngIf="p.image !== undefined ">
          <td><a class="product-image"> <img
            [src]=[p.image] alt="product images" style="width: auto; height: 5vh; cursor: pointer;"></a></td>
        </ng-container>

        <td>{{ p.code }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.price| currency: 'VND' | slice:1 }}
          <span class="symbol"
                style="font-size: 1rem; line-height: 1rem; letter-spacing: 0.1rem; text-decoration: underline">đ</span>
        </td>
        <td>{{ p.status }}</td>
        <td>{{ p.description }}</td>
        <td>{{ p.specification }}</td>
        <td style="width: 4.5vw">
          <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-dropdown" (click)="getProductData(p.id!, p)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="updateProduct()">
        <mat-icon>edit</mat-icon>
        <span>Sửa</span>
      </button>

      <button mat-menu-item (click)="deleteProduct()">
        <mat-icon>delete</mat-icon>
        <span>Xóa</span>
      </button>

      <button mat-menu-item>
        <mat-icon>list</mat-icon>
        <span>D.Sách HH - VT</span>
      </button>

      <button mat-menu-item>
        <mat-icon>print</mat-icon>
        <span>In</span>
      </button>

      <button mat-menu-item>
        <mat-icon>Excel</mat-icon>
        <span>Xuất File Excel</span>
      </button>

      <button mat-menu-item>
        <mat-icon>money</mat-icon>
        <span>Lập P.Chi</span>
      </button>

      <button mat-menu-item>
        <mat-icon>money</mat-icon>
        <span>Tạo Từ Phiếu Này</span>
      </button>

    </mat-menu>

  </app-data-table>
</ng-container>

<app-alert></app-alert>


<app-app-seach-product #searchWrapper (dataProductIsSeach)="receiveDataFromChildSeach($event)"></app-app-seach-product>
<app-add-product #AddWrapper [optionSizes]="sizesName" [optionColors]="colorsName"
                 [product]="productInformation" [specName]="productInformation.specification!"
                 [btnName]="isBtnName"></app-add-product>









