.modal {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100; // Chọn một giá trị z-index phù hợp
}

.modal.show {
  display: block;
}

.modal-dialog {
  max-width: 600px;
  margin: 30px auto;
  top: 100px;
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  background-color: #007bff;
  color: white;
}

.modal-footer {
  background-color: #f1f1f1;
}

.mat-datepicker-content {
  z-index: 1000; // Chọn một giá trị z-index phù hợp, lớn hơn giá trị z-index của modal
}
