<app-modal-wrapper #AddWrapper
                   [showModal]="isInsertChose"
                   [modalTitle]="'Thêm Sản Phẩm'"
                   [nameButton]="'Thêm'"
                   [size]="'width: 65%; max-width: 100%;'"
                   (closeModalEvent)="closeModal()" xmlns="http://www.w3.org/1999/html">

  <!-- Your modal content goes here -->
  <div class=".modal-lg">
    <form class="row g-3" (ngSubmit)="onSubmit()">
      <div class="mb-3 col-md-4">
        <label for="name" class="col-form-label">Tên sản phẩm</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="mb-3 col-md-3">
        <label for="price" class="col-form-label">Giá</label>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Dollar amount" id="price" name="price">
          <span class="input-group-text">.000</span>
          <span class="input-group-text">đ</span>
        </div>
      </div>
      <div class="mb-3 col-md-5">
        <label for="image" class="col-form-label">Hình ảnh</label>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="image" name="image">
          <label class="input-group-text" for="image">Upload</label>
        </div>
      </div>

      <div class="mb-3 col-md-6">
        <label for="spec" class="col-form-label">Mặt hàng</label>
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="spec" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"
                  style="width: 100%; height: 4vh; display: flex; justify-content: space-between; align-items: center;">
            {{specName}}
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer">
            <ng-container *ngFor="let s of specificationProducts">
              <a class="dropdown-item" (click)="optionSpecChose(s.display)">{{s.display}}</a>
            </ng-container>
          </div>
        </div>
      </div>


      <div class="mb-3 col-md-6">
        <label for="category" class="col-form-label">Loại sản phẩm</label>
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="category" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"
                  style="width: 100%; height: 4vh; display: flex; justify-content: space-between; align-items: center;">
           {{cateName}}
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer">
            <ng-container *ngFor="let t of categoryProducts">
              <a class="dropdown-item" (click)="cateChose(t.display)">{{t.display}}</a>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="mb-3 col-md-6">
        <label for="category" class="col-form-label">Công ty</label>
        <input type="search" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               placeholder="Công ty điều hành">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item">CTY1</a>
          <a class="dropdown-item">CTY2</a>
          <a class="dropdown-item">CTY3</a>
        </div>
      </div>

      <div class="md-3 col-md-2">
        <br><br>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="status1" value="option1" checked>
          <label class="form-check-label" for="status1">
            Đang hoạt động
          </label>
        </div>
      </div>

      <div class="md-3 col-md-2">
        <br><br>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="status2" value="option2">
          <label class="form-check-label" for="status2">
            Sắp hoạt động
          </label>
        </div>
      </div>

      <div class="mb-3">
        <label for="desc" class="form-label">Mô tả</label>
        <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
      </div>

      <div class="col-md-6 mb-3">
        <label for="validationCustom01">Size (Kích thước)</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="" required
               [(ngModel)]="itemSize.name" [ngModelOptions]="{standalone: true}" [hidden]="true">
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="SizeProduct" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"
                  style="width: 100%; height: 4vh; display: flex; justify-content: space-between; align-items: center;">
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer">
            <ng-container>
              <a class="dropdown-item">
                xl
              </a>
              <a class="dropdown-item">
                l
              </a>
              <a class="dropdown-item">
                s
              </a>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-5 mb-3">
        <label for="validationCustom02">Giá phụ thu</label>
        <input type="text" class="form-control" id="validationCustom02" placeholder="" required
               [(ngModel)]="itemSize.addition" [ngModelOptions]="{standalone: true}"
               (keypress)="validateInput($event)">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-1 mb-3">
        <br>
        <button type="button" class="btn btn-primary"
                [disabled]="(!itemSize.name || !itemSize.addition)"
                (click)="addSizeToTable()">Thêm
        </button>
      </div>

      <div class="mb-3" *ngIf="showTableSize">
        <table class="table table-sm">
          <thead>
          <tr>
            <th style="width: 4vw"></th>
            <th scope="col">STT</th>
            <th scope="col">Tên Size</th>
            <th scope="col">Giá phụ thu</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let s of sizes; let i = index">
            <td>
              <button class="btn btn-close" (click)="removeItemSize(i)"></button>
            </td>
            <td>{{i}}</td>
            <td>{{s.name}}</td>
            <td>{{s.addition |  currency: 'VND':'symbol':'1.0-0'}}</td>
          </tr>
          </tbody>
        </table>
      </div>


      <!------------------------------- -->


      <div class="col-md-4 mb-3">
        <label for="nameColor">Tên màu sắc</label>
        <input type="text" class="form-control" id="nameColor" placeholder="" required
               [(ngModel)]="itemColor.name" [ngModelOptions]="{standalone: true}">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label for="feePriceColor">Giá phụ thu</label>
        <input type="text" class="form-control" id="feePriceColor" placeholder="" required
               [(ngModel)]="itemColor.addition"
               (keypress)="validateInput($event)" [ngModelOptions]="{standalone: true}">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="col-md-5 mb-3">
        <label for="nameColor">Update hinh ảnh</label>
        <input type="file" class="form-control" id="colorImage" name="colorImage" style="width: 100%"
               [(ngModel)]="itemColor.image" [ngModelOptions]="{standalone: true}" #ci="ngModel" required>

      </div>
      <div class="col-md-1 mb-1">
        <br>
        <button type="button" class="btn btn-primary"
                [disabled]="(!itemColor.name || !itemColor.addition) && !itemColor.image"
                (click)="addColorToTable()">Thêm
        </button>
      </div>

      <div class="mb-3" *ngIf="showTableColor">
        <table class="table table-sm">
          <thead>
          <tr>
            <th style="width: 4vw"></th>
            <th scope="col">Stt</th>
            <th scope="col">Tên Size</th>
            <th scope="col">Giá phụ thu</th>
            <th scope="col">Hình ảnh</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of colors; let i = index">
            <td>
              <button class="btn btn-close" (click)="removeItemColor(i)"></button>
            </td>
            <td>{{i}}</td>
            <td>{{c.name}}</td>
            <td>{{c.addition |  currency: 'VND':'symbol':'1.0-0'}}</td>
            <td>{{c.image}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <style>
        .table th, .table td {
          border-right: 1px solid #ddd;
          padding: 8px;
          text-align: left;
        }

        .table th:last-child, .table td:last-child {
          border-right: none;
        }
      </style>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary">Thêm</button>
      </div>

    </form>
  </div>


</app-modal-wrapper>



